<div class="container">
    <label>Select the programming language</label>
    <select [(ngModel)]="selectedvalue" name="selectedvalue" (ngModelChange)="onChange($event)"class="select">
        <option id="angular" value="angular">Angular Js</option>
        <option id="react" value="react">React Js</option>
        <option id="native" value="native">Native Script</option>
        <option id="node" value="node">Node JS</option>
        <option id="express" value="express">Express JS</option>
    </select>
    <img [src]="img" class="card-img-top img-fluid">
</div>